<div class="centered">
    <h1>Register For New Account</h1><hr>
    <br/>
    <span>Enter Your New Username Below:</span><br/>
    <input type="text" name="username" placeholder="Please enter your new username here!" size=40 required/>
    <br/><br/>
    <span>Enter Your New Password Below:</span><br/>
    <input type="password" name="password1" placeholder="Please enter your new password here!" size=40 required/><br/>
    <br/><span>Reenter Your Password Below:</span><br/>
    <input type="password" name="password2" placeholder="Please reenter your password here!" size=40 required/><br/>
    <br/><br/>
    <button onclick="registerUser()">REGISTER ACCOUNT</button>
</div>