        <div class="recipeComponent" ng-app>
                <button class="block" id="recipeInfo" (click)="toggleVisibility(); getRecipeInfoByID(id)">Recipe</button>
                <div [hidden]="visibility">
                    <form>
                        <table ng-init="recipe = [{title:'tossed salad',instructions:'toss them',readyInMinutes:'32',servings:'2'}];">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Instructions
                            </th>
                            <th>
                                Preperation Time
                            </th>
                            <th>
                                Servings
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name= "title" id = "title" ng-model="recipe.title">
                            </td>
                            <td>
                                <textarea name="instructions" id="instructions" form="add" maxlength="250" ng-model="recipe.instructions"></textarea>
                            </td>
                            <td>
                                <input type="text" name="readyInMinutes" id = "readyInMinutes" ng-model="recipe.readyInMinutes">
                            </td>
                            <td>
                                <input type="text" size="10" name="servings" id="servings" ng-model="recipe.servings">
                            </td>
                        </tr>
                        </table>
                        <br>
                        <button class="block" style = "display: block;
                        width: 690px;
                        border: none;
                        background-color: #ffe092;
                        padding: 14px 28px;
                        font-size: 16px;
                        cursor: pointer;
                        text-align: center">Nutrition and Information</button>
                        <div>
                            <table>
                                <tr>
                                    <th>
                                        Serving Size
                                    </th>
                                    <th>
                                        Calories
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Cook Time
                                    </th>
                                </tr>
                                <tr>
                                        <td>
                                                <input type="text" size="10" name="servingSize" id="servingSize">
                                        </td>
                                        <td>
                                                <input type="text" size="10" name="calories" id="calories">
                                            </td>
                                            <td>
                                                <input type="text" size="10" name="price" id="price">
                                        </td>
                                        <td>
                                                <input type="text" size="10" name="cookTime" id="cookTime">
                                            </td>
                                </tr>
                            </table>
                                <button class="block" style = "display: block;
                                width: 690px;
                                border: none;
                                background-color: #ffe092;
                                padding: 14px 28px;
                                font-size: 16px;
                                cursor: pointer;
                                text-align: center">Ingredients</button>
                                <div>
                                    <table ng-init="ingredients = [{name:'Spinach',aisle:'18',amount:'3',unit:'bags'}];"> <!--*ngFor='let i of recipe.ingredients'-->
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Aisle
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                            <th>
                                                Unit
                                            </th>
                                            <th>
                                                Quantity
                                            </th>
                                        </tr>
                                        <tr>
                                                <td>
                                                        <input type="text" size="10" name="name" id="name" ng-model="ing.name">
                                                        <!-- {{ i.name }} -->
                                                </td>
                                                <td>
                                                        <input type="text" size="10" name="aisle" id="aisle" ng-model="ing.aisle">
                                                        <!-- {{ i.aisle }} -->
                                                </td>
                                                <td>
                                                        <input type="text" size="10" name="amount" id="amount" ng-model="ing.amount">
                                                        <!-- {{ i.amount }} -->
                                                </td>
                                                <td>
                                                        <input type="text" size="10" name="unit" id="unit" ng-model="ing.unit">
                                                        <!-- {{ i.unit }} -->
                                                </td>
                                                <td>
                                                    <input type="text" size="10" name="quantity" id="quantity">
                                                </td>
                                        </tr>
                                    </table>
                                </div>
                        </div>

                    </form>
                </div>
            </div>