<html>
    <head>

    </head>
    <body>
            <div class="osection">
                    <button class="block" (click)="toggleVisibility()" style = "display: block;
                    width: 100%;
                    border: none;
                    background-color: #fcb603;
                    padding: 14px 28px;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: center">Recipe</button>
                    <div [hidden]="visibility">
                        <form>
                            <table>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Instructions
                                </th>
                                <th>
                                    Preperation Time
                                </th>
                                <th>
                                    Servings
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name= "title">
                                </td>
                                <td>
                                    <textarea name="instructions" id="instructions" form="add" maxlength="250"></textarea>
                                </td>
                                <td>
                                    <input type="text" name="readyInMinutes">
                                </td>
                                <td>
                                    <input type="text" size="10" name="servings">
                                </td>
                            </tr>
                            </table>
                            <br>
                            <button class="block" style = "display: block;
                            width: 100%;
                            border: none;
                            background-color: #ffe092;
                            padding: 14px 28px;
                            font-size: 16px;
                            cursor: pointer;
                            text-align: center">Nutrition and Information</button>
                            <div>
                                <table>
                                    <tr>
                                        <th>
                                            Serving Size
                                        </th>
                                        <th>
                                            Calories
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Cook Time
                                        </th>
                                    </tr>
                                    <tr>
                                            <td>
                                                    <input type="text" size="10" name="servingSize">
                                            </td>
                                            <td>
                                                    <input type="text" size="10" name="calories">
                                             </td>
                                             <td>
                                                    <input type="text" size="10" name="price">
                                            </td>
                                            <td>
                                                    <input type="text" size="10" name="cookTime">
                                                </td>
                                    </tr>
                                </table>
                                    <button class="block" style = "display: block;
                                    width: 100%;
                                    border: none;
                                    background-color: #ffe092;
                                    padding: 14px 28px;
                                    font-size: 16px;
                                    cursor: pointer;
                                    text-align: center">Ingredients</button>
                                    <div>
                                        <table>
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Quantity
                                                </th>
                                                <th>
                                                    Aisle
                                                </th>
                                                <th>
                                                   Amount
                                                </th>
                                                <th>
                                                    Unit
                                                </th>
                                            </tr>
                                            <tr>
                                                    <td>
                                                            <input type="text" size="10" name="name">
                                                    </td>
                                                    <td>
                                                            <input type="text" size="10" name="quantity">
                                                     </td>
                                                     <td>
                                                            <input type="text" size="10" name="aisle">
                                                    </td>
                                                    <td>
                                                            <input type="text" size="10" name="amount">
                                                    </td>
                                                    <td>
                                                            <input type="text" size="10" name="unit">
                                                    </td>
                                            </tr>
                                        </table>
                                    </div>
                            </div>

                        </form>
                    </div>
                </div>
    </body>
</html>