
<div *ngFor="let r of recipes; let i = index;" class="recipeComponent">
      
    <div>
    <button style="display: inline-block; font-size:30px" class="button" id="recipeInfo" (click)="toggleVisibility(recipeIdString(i))" >{{r.title}}</button>
    <button (click)="deleteRecipe(i)" style="display: inline-block"><i style="margin: 0 auto; color:rgb(241, 55, 55); font-size:30px; padding: 8px 8px; align: center  "class="fas fa-times-circle"></i></button>
    
    <div id={{recipeIdString(i)}} hidden=true>
        <form>
            <table >
            <tr>
                <th style="text-align: center">
                    Instructions
                </th>
                <th style="text-align: center">
                    Preperation Time
                </th>
                <th style="text-align: center">
                    Servings
                </th>
            </tr>
            <tr>              
                <td>
                     <p>{{r.instructions}}</p>
                </td>
                <td>
                    <p>{{r.readyInMinutes}}</p>
                </td>
                <td>
                    <p>{{r.servings}}</p>
                </td>
            </tr>
            </table>
            <br>
            <div>
                    <button align="center" class="block" style = "display: block;
                    width: 600px;
                    border: none;
                    background-color: #ffe092;
                    padding: 14px 28px;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: center">Ingredients</button>
                    <div>
                        <table > <!--*ngFor='let i of recipe.ingredients'-->
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Aisle
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                    Unit
                                </th>
                            </tr>
                            <tr *ngFor="let i of r.ingredients;">
                                    <td>
                                        <p>{{i.name}}</p>
                                            <!-- {{ i.name }} -->
                                    </td>
                                    <td>
                                        <p>{{i.aisle}}</p>
                                    </td>
                                    <td>
                                        <p>{{i.amount}}</p>
                                    </td>
                                    <td>
                                        <p>{{i.unit}}</p>
                                    </td>
                            </tr>
                        </table>
                    </div>
            </div>

        </form>
    </div>
</div>
</div>