<div align="center">
    <h1></h1>
    <div class="jumbotron">
            <h1 class="display-4">Welcome {{username}}!</h1>
            <p class="lead">We can possibly put some very brief one line instructions or a description right here. </p>
            <hr class="my-4">
            <p>If no one is signed in, maybe this home component can also be the landing page for people to sign up.
                Feel free to edit my navbar or home page as you see fit, I got the icons from FontAwesome.com and I still
                think we should have an actual food wrap as our logo so that one is just a placeholder lol
            </p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up
                    <i class="fas fa-user-plus"></i>
              </a>&nbsp;&nbsp;&nbsp;
              <a class="btn btn-success btn-lg" href="#" role="button">Log in
                    <i class="fas fa-sign-in-alt"></i>
              </a>
              <button (click)="addRecipe()" >Add recipe to database</button>
              <button (click)="getRecipes()">Show recipe from database</button>
            </p>
    </div>
    <div class="jumbotron" >
            <h1 class="display-4">Food Fact of the Day:</h1>
            <p class="lead">(random food fact will appear here)</p>
    </div>
</div>
