<div align="center">
    <h1></h1>
    <div class="jumbotron">
            <h1 class="display-4">Welcome {{username}}!</h1>
            <p class="lead">Click on search to find your next favorite recipe. </p>
            <hr class="my-4">
            <p>
            </p>
            
            <div style="text-align: middle"><p>WRAP is a premium luxury service that affords its subscription base a greater relief, that eases a greater burden, 
                                        that wraps together all the grocery preperation tedium into a neat, little, managable, digestible package, that
                                        makes efficient and makes optimized the weekly shopping odysseys. Gift yourself the convenience and ease of WRAP!
                            </p></div>
                            <div id="chartContainer" style="height: 370px; width: 50%"></div>
            
            
    </div>
    <div class="jumbotron" >
            <h1 class="display-4">Food Fact of the Day:</h1>
            <p class="lead">An apple is a fruit.</p>
    </div>
</div>
