<nav class="navbar navbar-expand-sm bg-light">

    <a class="navbar-brand" style="color:rgb(207, 107, 13); font-size:50px; " href="#">
        <i class="fas fa-utensils"></i>
        WRAP
        <i class="fas fa-smile-wink"></i>
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/search">Search
            <i class="fas fa-search"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recipes">Recipes
            <i class="fas fa-pizza-slice"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ingredients">Ingredients
            <i class="fas fa-carrot"></i>
        </a>
            
      </li>
      <li class="nav-item">
            <a class="nav-link" href="/nutrition">Nutrition
                <i class="fab fa-nutritionix"></i>
            </a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="/favorites">Favorites

            <i class="fas fa-star"></i>
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Register
          
      </a>
    </li>
    </ul>
  
</nav>