<div>
        <h1>Now Viewing Your Ingredients List!</h1>
        <hr>
        <table>
            <thead>
                <th></th>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Modified</th>
                <th>Total</th> 
                <th>Unit</th>          
            </thead>
            <tbody *ngFor="let r of ingredients">
                <tr id={{ingredientIdString(r.id)}}>
                    <td><button (click)="changeRowColor(ingredientIdString(r.id))">Got it!</button></td>
                    <td>{{r.name}}</td>
                    <td>{{r.amount}}</td>
                    <td>{{r.quantity}}</td>
                    <td>{{r.amount+r.quantity}}</td>
                    <td>{{r.unit}}</td>
                </tr>
            </tbody>
        </table>
    </div>