tr,th, table
{
    border: 1px solid pink;
}
.centered
{
    position:absolute;
    width:500px;
    height:300px;
    left:25%;
    top:25%;
    margin:auto;
}

changeRowColor
{
    background-color: blue;
    color: red;
}
/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
